<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mini_imports.Properties.Settings.mini_imports_realConnectionString"
            connectionString="Data Source=SJC0562927W10-1;Initial Catalog=mini_imports_real;User ID=sa;Password=Senac123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>